[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
sqlalchemy = "*"
fastapi = "*"
uvicorn = "*"
axios = "*"
flask = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-cors = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
